/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

nav {
  padding-left: 1rem;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab";
  margin-top: 20px;
  margin-bottom: 10px;
}
h2 {
  color: #337ab7;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover h2 {
  text-decoration: underline;
  color: #285a86;
}
.col-sm-offset-2 {
  margin-left: 16.67%;
}
